﻿@charset "utf-8";
* {
    margin:0;
    padding:0
}
a {
    text-decoration:none;
    color:#dfdfdf;
    font-size:14px;
    font-family:"arial","微软雅黑"
}
html {
    width:100%;
    height:100%;
    overflow:hidden;
    -webkit-font-smoothing:antialiased;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    overflow-scrolling:touch
}
html.ns {
    overflow:hidden
}
body {
    color:#535353;
    font-size:14px;
    font-family:"arial","微软雅黑";
    background:#fff;
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative
}
a,body {
    font-family:"微软雅黑"/9;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
img {
    border:0
}
ol,ul,li {
    list-style:none
}
dl,dt,dd,ul,li {
    margin:0;
    padding:0
}
input,textarea {
    outline:none
}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {
    -webkit-text-size-adjust:none
}
i {
    font-style:normal
}
.fl {
    float:left
}
.fr {
    float:right
}
.clear {
    clear:both
}
.wrap {
    width:96%;
    margin:0 auto
}
.pd5 {
    padding:5px
}
.pd10 {
    padding:10px
}
.pd20 {
    padding:20px
}
.menu_back2,.menu_slide,#us_panel2 td i,.send_msg_to,.menu_refresh,#post_comment_btn,.menu_back,.menu_share,.menu_open,.search_open,.list_info_i dt,#menu ul li a b,.hd .fr,.reg_bar_close,.login_bar_close,.reg_bar .fl i,#weibo_app i,#qq_connect i,.login_bar .fl i,.share_sina,.share_guangbo,.share_douban,.content_info_more,.header_more dt,.works_view dt,#add_f i,.works_link dt,.visit_site a i,.add_friend,.remove_friend,.rela_friend,.user_menu dt,#user_menu li a .fl i,.home_profile_local i,.home_profile_c a i,.remove_msg,.reply_msg_post {
    background:url('icons.png') no-repeat;
    background-size:500px 500px
}
#header {
    background:#64c400;
    height:60px;
    overflow:hidden;
    position:relative;
    width:100%;
    z-index:999;
    left:0px;
    top:0;
    width:100%
}
#header.head {
    background:#323436;
    height:50px
}
#header.head i {
    top:9px
}
.title {
    line-height:50px;
    color:#fff;
    position:relative;
    height:50px;
    display:block;
    margin:0 auto;
    width:70%;
    overflow:hidden
}
.t_slide {
    text-align:center
}
.title_d {
    display:block;
    white-space:nowrap;
    position:relative;
    float:left;
    top:0;
    left:0;
    left:50%;
    font-size:16px
}
.title_d p {
    float:left;
    position:relative;
    right:50%
}
.title_d.round {
    -webkit-animation:round 4s infinite alternate linear;
    -ms-animation:round 4s infinite alternate linear;
    -o-animation:round 4s infinite alternate linear;
    -moz-animation:round 4s infinite alternate linear;
    animation:round 4s infinite alternate linear
}
@keyframes round {
    0% {
        transform:translateX(0%)
    }
    100% {
        transform:translateX(-28%)
    }
}
@-webkit-keyframes round {
    0% {
        transform:translateX(0%);
        -webkit-transform:translateX(0%)
    }
    100% {
        transform:translateX(-28%);
        -webkit-transform:translateX(-28%)
    }
}
#header .wrap {
    position:relative;
    overflow:hidden
}
.logo {
    position:relative;
    width:137px;
    height:42px;
    margin:9px auto
}
.logo a {
    display:block
}
.logo img {
    display:block;
    width:100%;
    height:auto
}
.logo_msk {
    width:100%;
    height:100%;
    background:#3e4042 url('backface.png') no-repeat 50% 50%;
    position:absolute;
    top:0;
    left:0;
    display:none;
    background-size:500px 60px
}
#header i {
    display:block;
    width:33px;
    height:32px;
    position:absolute
}
.menu_slide {
    top:14px;
    right:0;
    background-position:-343px -8px;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.menu_slide.show {
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg)
}
#header .menu_open {
    background-position:-107px -441px;
    left:0;
    top:14px
}
.menu_back.ton,.menu_back2.ton,.menu_open.ton,.search_open.ton {
    background-color:#70CA10
}
.menu_back,.menu_back2 {
    background-position:-68px -320px;
    top:14px;
    background-color:#323436;
    left:0
}
.menu_back a,.menu_back2 a {
    display:block;
    height:100%
}
.menu_share {
    background-position:-66px -107px;
    top:14px;
    background-color:#323436;
    right:0
}
.menu_refresh {
    background-position:-282px -39px;
    top:14px;
    background-color:#323436;
    right:0;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
#header .menu_refresh.ton {
    background-color:#6bc30d
}
#header .search_open {
    top:14px;
    right:0;
    background-position:-105px -475px
}
.search_open span {
    display:block;
    position:absolute;
    width:8px;
    height:8px;
    border:2px solid #fff;
    background:#df0000;
    top:-2px;
    right:0px;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%
}
#menu {
    height:100%;
    position:fixed;
    top:0;
    left:0;
    width:0px;
    overflow:hidden;
    background:#323436;
    visibility:hidden;
    -webkit-transition-delay:0.3s;
    -moz-transition-delay:0.3s;
    -o-transition-delay:0.3s;
    transition-delay:0.3s
}
#menu.push {
    visibility:visible;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}
#container {
    width:200px;
    position:relative;
    top:0;
    left:0px;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%
}
#content {
    position:relative;
    overflow:hidden;
    padding-bottom:50px
}
#showcase {
    height:200px;
    background:#eee
}
.list_litpic {
    width:90px;
    height:90px;
    overflow:hidden
}
.list_litpic img {
    width:90px;
    height:90px
}
#list ul {
    background:#fff;
    display:block
}
#list li {
    display:block;
    height:110px
}
#list li.touch {
    background-color:#f4f4f4;
    -moz-box-shadow:0px 2px 4px #ccc inset;
    -o-box-shadow:0px 2px 4px #ccc inset;
    -webkit-box-shadow:0px 2px 4px #ccc inset;
    box-shadow:0px 2px 4px #ccc inset
}
#list li .alist {
    display:block;
    width:100%;
    height:90px;
    border-bottom:1px solid #eee;
    padding:10px 0
}
.list_info {
    height:90px;
    margin-left:105px;
    padding-top:5px
}
.list_info h4 {
    font-size:16px;
    font-weight:500;
    height:20px;
    line-height:20px;
    margin-bottom:2px;
    color:#646464;
    display:block;
    overflow:hidden
}
.list_info h5 {
    height:20px;
    line-height:18px;
    font-weight:500;
    font-size:12px;
    color:#a2a2a2
}
.list_info span {
    margin-left:5px;
    color:#777777
}
.list_info h5 em {
    font-style:normal;
    margin-left:8px
}
.list_info_i {
    margin-top:20px;
    height:20px;
    overflow:hidden
}
.list_info_i dl {
    display:block;
    height:20px;
    float:left;
    margin-right:10px
}
.list_info_i dt {
    display:block;
    width:20px;
    height:20px;
    float:left;
    margin-right:2px
}
.list_info_i dd {
    display:block;
    height:20px;
    float:left;
    line-height:20px;
    font-size:10px;
    color:#a7a7a7
}
.list_info_i .list_info_views dt {
    background-position:0 -21px
}
.list_info_i .list_info_comment dt {
    background-position:-25px -20px
}
.list_info_i .list_info_like dt {
    background-position:-50px -21px
}
.list_info_i .list_info_time dt {
    background-position:-72px -148px
}
.bangmang_list_more .list_info_i {
    margin-top:0
}
.list_info_i .list_info_time {
    float:right
}
#sort {
    height:40px;
    background:#444446
}
#sort .sortby {
    height:40px
}
.sort_ct {
    border:1px solid #fff;
    border:0 1px
}
#sort td {
    height:40px;
    text-align:center
}
.sort_left {
    background:url('g_block.png') repeat-y 100% 0;
    text-align:center;
    background-size:1px 1px
}
.sort_right {
    background:url('g_block.png') repeat-y 0 0;
    background-size:1px 1px
}
.sort_b {
    height:40px;
    line-height:40px;
    width:100%
}
.sort_b i {
    width:0px;
    height:16px;
    display:block;
    float:left;
    margin-top:17px;
    margin-right:5px;
    background-image:url('sort.png');
    background-size:150px 150px
}
i.cate_default {
    background-position:1px 1px
}
i.cate_tag {
    background-position:-13px -49px
}
i.cate_sort {
    background-position:-29px -16px
}
.sort_b span {
    height:40px;
    display:block;
    float:left;
    background:url('slide.png') no-repeat 0 0;
    padding-right:19px;
    background:url('slide.png') no-repeat 100% 50%;
    background-size:9px 4.5px;
    overflow:hidden
}
.sort_cate a {
    padding-right:5px
}
.sort_tag .sort_b span {
    max-width:56px
}
.sort_b a {
    display:block;
    height:40px;
    width:100%
}
.sort_b.ton {
    background-color:#343435;
    -moz-box-shadow:0px 2px 6px #1f1f1f inset;
    -o-box-shadow:0px 2px 6px #1f1f1f inset;
    -webkit-box-shadow:0px 2px 6px #1f1f1f inset;
    box-shadow:0px 2px 6px #1f1f1f inset
}
.sort_b .sort_b_inner {
    height:40px;
    display:inline-block
}
#container {
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:-o-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:transform 0.3s cubic-bezier(0.165,0.84,0.44,1)
}
#container.push,#us_panel.push {
    -webkit-transform:translateX(250px);
    -moz-transform:translateX(250px);
    transform:translateX(250px);
    -moz-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    -o-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    box-shadow:-3px -3px 6px rgba(0,0,0,0.8)
}
#header.push {
    -webkit-transform:translateX(250px);
    -moz-transform:translateX(250px);
    transform:translateX(250px);
    -moz-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    -o-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:-3px -3px 6px rgba(0,0,0,0.8);
    box-shadow:-3px -3px 6px rgba(0,0,0,0.8)
}
#header.pull {
    -webkit-transform:translate3d(-250px,0px,0px);
    -moz-transform:translate3d(-250px,0px,0px);
    transform:translate3d(-250px,0px,0px);
    -moz-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    -o-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    box-shadow:3px -3px 6px rgba(0,0,0,0.8)
}
#container.pull,#us_panel.pull {
    -webkit-transform:translate3d(-250px,0px,0px);
    -moz-transform:translate3d(-250px,0px,0px);
    transform:translate3d(-250px,0px,0px);
    -moz-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    -o-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:3px -3px 6px rgba(0,0,0,0.8);
    box-shadow:3px -3px 6px rgba(0,0,0,0.8)
}
#menu {
    width:250px;
    height:100%;
    position:fixed;
    top:0px;
    left:0
}
#menu ul li {
    display:block;
    height:49px;
    line-height:50px;
    border-bottom:1px solid #44474a;
    overflow:hidden;
    background-color:#323436;
    -webkit-transition:background 0.3s ease-out;
    -moz-transition:background 0.3s ease-out;
    -o-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out
}
#menu ul li a {
    display:block;
    width:100%;
    height:33px;
    color:#fff;
    overflow:hidden;
    padding-top:16.5px;
    border-left:5px solid #1d1d1d
}
#menu ul li a b {
    width:16px;
    height:16px;
    background-position:0px -55px;
    display:block;
    float:right;
    margin-right:6px;
    opacity:0.2
}
#menu ul li a i {
    display:block;
    width:16px;
    height:16px;
    float:left;
    background:url('navigation.png') no-repeat;
    background-size:32px 250px;
    margin-left:20px;
    opacity:0.6
}
#menu ul .menu_cur a i {
    opacity:1
}
#menu ul .menu_cur a {
    border-left:5px solid #64c400
}
#menu ul li a span {
    display:block;
    height:16px;
    line-height:16px;
    float:left;
    margin-left:15px
}
#menu ul li:hover,#menu ul .menu_cur {
    background-color:#1d1d1d
}
#menu ul .nav_index a i {
    background-position:-7px -17px
}
#menu ul .nav_site a i {
    background-position:-7px -67px
}
#menu ul .nav_about a i {
    background-position:-8px -117px
}
#menu ul .nav_inspire a i {
    background-position:-8px -167px
}
#menu ul .nav_help a i {
    background-position:-8px -217px
}
#user {
    width:250px;
    height:100%;
    position:fixed;
    top:0px;
    right:0;
    visibility:hidden;
    background-color:#323436;
    -webkit-transition-delay:0.3s;
    -moz-transition-delay:0.3s;
    -o-transition-delay:0.3s;
    transition-delay:0.3s
}
.search_wrap {
    overflow:hidden;
    position:relative
}
#user.pull {
    visibility:visible;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}
#menu.pull {
    visibility:hidden
}
#container.push .push_msk {
    visibility:visible
}
#container.pull .push_msk {
    visibility:visible
}
.push_msk {
    width:100%;
    height:9999px;
    position:fixed;
    visibility:hidden;
    top:0;
    left:0
}
.account {
    height:60px;
    background:#2a2c2e;
    overflow:hidden
}
.nl {
    margin:12.5px 0 0 10px
}
.nl a {
    display:block;
    float:left;
    height:35px;
    width:110px;
    text-align:center;
    float:left;
    line-height:35px;
    color:#fff
}
.login {
    margin-right:10px;
    background:#4f5356
}
.reg {
    background:#6bc30d
}
.user_panel {
}
.user_menu {
    width:250px;
    height:250px;
    background:#232425;
    position:relative
}
.my_avatar {
    height:195px;
    overflow:hidden;
    text-align:center;
    width:210px;
    margin:0 auto
}
.my_avatar .my_home {
    display:inline-block;
    width:90px;
    height:90px;
    margin-top:30px;
    overflow:hidden;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%
}
.my_avatar .my_home img {
    width:100%
}
.my_avatar h4 {
    display:block;
    height:28px;
    line-height:28px
}
.my_avatar h4 a {
    color:#ffffff;
    font-weight:500;
    font-size:14px;
    margin-top:10px
}
.my_avatar p {
    font-size:9px;
    color:#8e8e8e
}
.user_menu table {
    height:50px;
    border-top:1px solid #4a4c4e;
    border-bottom:1px solid #4a4c4e;
    position:absolute;
    bottom:0;
    left:0
}
.user_menu td {
    text-align:center
}
.user_menu dl {
    display:inline-block;
    width:40px;
    height:30px;
    text-align:center
}
.user_menu dt {
    display:inline-block;
    width:16px;
    height:16px
}
.user_menu dd {
    display:block;
    height:16px;
    line-height:16px;
    text-align:center;
    font-size:9px;
    color:rgba(255,255,255,0.2)
}
.care {
    position:relative
}
.fans dt {
    background-position:-167px -35px
}
.care dt {
    background-position:-167px -51px
}
.favorites dt {
    background-position:-167px -67px
}
.user_menu_c {
    position:relative
}
.user_menu_c .has_line_left,.user_menu_c .has_line_right {
    background:url('d_block.png');
    background-size:1px 1px
}
#user_menu {
}
#user_menu li {
    height:42px;
    border-bottom:1px solid #4a4c4e
}
#user_menu li a {
    display:block;
    height:42px;
    border-left:6px solid #323436;
    background:#323436;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
#user_menu li a .fl {
    height:42px;
    margin-left:16px;
    color:#848484
}
#user_menu li a .fl i {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    margin-top:13px;
    margin-right:10px
}
#user_menu li a .fl span {
    display:inline-block;
    height:16px;
    vertical-align:middle;
    line-height:16px;
    margin-top:13px
}
#user_menu li.menu_msg a .fl i {
    background-position:-167px -90px
}
#user_menu li.menu_system a .fl i {
    background-position:-167px -106px
}
#user_menu li.menu_comment a .fl i {
    background-position:-167px -122px
}
#user_menu li.menu_option a .fl i {
    background-position:-167px -138px
}
#user_menu li.menu_logout a .fl i {
    background-position:-167px -155px
}
#user_menu li a:hover,#user_menu li.menu_at a {
    border-left:6px solid #16be00;
    background:#1e1f20
}
#user_menu li a .fr {
    margin-right:16px;
    height:42px
}
#user_menu li a .fr span {
    display:inline-block;
    padding:0 10px;
    height:15px;
    line-height:15px;
    background:#ff8a00;
    margin-top:13.5px;
    color:#fffae7;
    font-size:11px;
    -o-border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px
}
#user_menu li.menu_option a .fr,#user_menu li.menu_logout a .fr {
    display:none
}
#header {
    -webkit-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1)
}
#us_panel.hide {
    transform:translateY(125px);
    -moz-transform:translateY(125px);
    -webkit-transform:translateY(125px);
    -o-transform:translateY(125px)
}
.search_wrap {
    height:60px;
    width:100%;
    background-color:#2a2c2e
}
#user {
    background-color:#323436
}
.search_input {
    text-indent:10px;
    height:15px;
    line-height:16px;
    display:block;
    margin:0 5px;
    width:200px;
    border:none;
    color:#6c6c6c;
    padding:10px 30px 10px 10px;
    background-color:#fff;
    margin-top:12.5px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px
}
.reset_input {
    width:20px;
    height:35px;
    position:absolute;
    display:block;
    top:10px;
    right:10px;
    display:none
}
.reset_input i {
    display:block;
    width:16px;
    height:16px;
    background:url('icons.png') no-repeat -30px -55px;
    background-size:500px 500px;
    position:absolute;
    top:12.5px;
    right:10px;
    opacity:0.4;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.reset_input.ton {
    opacity:1
}
#sort_content {
    width:100%;
    min-height:100%;
    background:#f0f1f1;
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom:20px;
    -webkit-transform:translate3d(0px,100%,0px);
    -moz-transform:translate3d(0px,100%,0px);
    transform:translate3d(0px,100%,0px);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -o-transition:-o-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition:transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19)
}
#sort_content.show {
    -webkit-transform:translate3d(0px,0%,0px);
    -moz-transform:translate3d(0px,0%,0px);
    transform:translate3d(0px,0%,0px);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -o-transition:-o-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    transition:transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000)
}
.asort {
    display:none
}
.asort.show {
    display:block
}
.hd {
    height:60px;
    background:#323436
}
.hd .fl {
    height:60px
}
.sort_tag .hd .fl i {
    background-position:1.5px -34px
}
.sort_color .hd .fl i {
    background-position:1.5px -94.5px
}
.hd .fl span {
    height:32px;
    line-height:32px;
    color:#fff;
    display:block;
    float:left;
    margin-top:14px;
    padding-left:16px
}
.hd .fr {
    width:33px;
    height:32px;
    background-position:10px -76.5px;
    background-color:#3e4042;
    margin-top:14px;
    position:relative;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.hd .fr.ton {
    background-color:#6bc30d
}
.ct {
    overflow-x:hidden;
    overflow-y:auto
}
.ct ul {
    margin-top:10px;
    display:block;
    border-top:1px solid #e5e5e5
}
.ct li {
    display:block;
    height:50px;
    border-bottom:1px solid #e5e5e5;
    background:#fff
}
.ct li i {
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    margin-top:17px
}
.ct li span {
    display:inline-block;
    height:16px;
    vertical-align:middle;
    margin-top:17px;
    font-size:13px
}
.ct li .s {
    margin-right:12px;
    background-image:url('sort.png');
    background-size:150px 150px;
    margin-left:15px
}
.ct h4 {
    display:block;
    height:40px;
    overflow:hidden;
    font-weight:500
}
.ct h4 i {
    display:inline-block;
    height:16px;
    width:16px;
    vertical-align:middle;
    background-image:url('sort.png');
    background-size:150px 150px;
    margin-left:14px;
    margin-right:10px;
    margin-top:17px
}
.ct .cate_trade i {
    background-position:-16px 0
}
.ct .cate_tag i {
    background-position:-16px -16px
}
.ct .cate_color i {
    background-position:-16px -32px
}
.ct h4 span {
    display:inline-block;
    height:16px;
    line-height:16px;
    vertical-align:middle;
    margin-top:17px
}
i.cate_all {
    background-position:0px 0px
}
i.cate_creat {
    background-position:0px -16px
}
i.cate_site {
    background-position:0px -32px
}
i.cate_inspire {
    background-position:0px -48px
}
i.cate_article {
    background-position:0px -64px
}
i.cate_app {
    background-position:0px -80px
}
i.sort_re {
    background-position:-32px 0px
}
i.sort_recom {
    background-position:-32px -16px
}
i.sort_fa {
    background-position:-32px -32px
}
i.sort_vi {
    background-position:-32px -48px
}
i.sort_com {
    background-position:-32px -64px
}
.ct li i.e {
    background:#ffffff;
    width:10px;
    height:10px;
    border:3px solid #d1d1d1;
    float:right;
    margin-right:25px;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%
}
.ct li.a_selected {
}
.ct li.a_selected .e {
    border:3px solid #6bc30d
}
.ct .wrap {
    position:relative
}
.nled_wrap {
    width:210px;
    margin:0 auto;
    height:35px
}
.user_avatar {
    width:35px;
    height:35px
}
.user_avatar img {
    width:35px
}
.user_name {
    display:block;
    height:35px;
    line-height:35px;
    color:#fff;
    font-size:12px;
    margin-left:10px
}
.user_logout {
    height:35px;
    line-height:35px;
    color:#fff;
    font-size:12px;
    opacity:0.6;
    -webkit-transition:all 0.1s ease-in;
    -moz-transition:all 0.1s ease-in;
    -o-transition:all 0.1s ease-in;
    transition:all 0.1s ease-in
}
.user_logout.ton {
    opacity:1
}
.nled_wrap {
    margin-top:12.5px
}
#reg_index {
    width:100%;
    min-height:100%;
    background:#fff;
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom:20px
}
.reg_bar,.login_bar {
    height:60px;
    background:#323436
}
.reg_bar_close,.login_bar_close {
    display:block;
    width:33px;
    height:32px;
    background-position:10px -76.5px;
    background-color:#3e4042;
    margin-top:14px;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.reg_bar_close.ton,.login_bar_close.ton {
    background-color:#6bc30d
}
.reg_bar .fl i,.login_bar .fl i {
    height:32px;
    width:25px;
    display:inline-block;
    vertical-align:middle;
    background-position:4px -112.5px
}
.login_bar .fl i {
    background-position:4px -145px
}
.reg_bar,.login_bar {
    line-height:60px;
    vertical-align:middle
}
.reg_bar .fl,.login_bar .fl {
    height:60px;
    color:#fff
}
.reg_ct {
    text-align:center
}
.reg_ct p {
    line-height:20px;
    margin:30px 0 20px 0
}
#weibo_app {
    height:50px;
    display:block;
    color:#fff;
    font-size:16px;
    background-color:#d63b22;
    margin-bottom:10px
}
#weibo_app span {
    display:block;
    height:50px;
    margin:0 auto;
    width:160px
}
#weibo_app i {
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:middle;
    background-position:0 -205px
}
#qq_connect {
    height:50px;
    display:block;
    color:#fff;
    font-size:16px;
    background-color:#3eb0d8
}
#qq_connect span {
    display:block;
    height:50px;
    margin:0 auto;
    width:160px
}
#qq_connect i {
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:middle;
    background-position:0 -288px
}
#reg_index {
    -webkit-transform:translate3d(0px,100%,0px);
    -moz-transform:translate3d(0px,100%,0px);
    transform:translate3d(0px,100%,0px);
    -webkit-transition:background 0.3s ease-out,-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -moz-transition:background 0.3s ease-out,-moz-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -o-transition:background 0.3s ease-out,-o-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition:background 0.3s ease-out,transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19)
}
#reg_index.show {
    -webkit-transform:translate3d(0px,0%,0px);
    -moz-transform:translate3d(0px,0%,0px);
    transform:translate3d(0px,0%,0px);
    -webkit-transition:background 0.3s ease-out,-webkit-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:background 0.3s ease-out,-moz-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:background 0.3s ease-out,-o-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:background 0.3s ease-out,transform 0.3s cubic-bezier(0.165,0.84,0.44,1)
}
.login_ct h4 {
    height:25px;
    line-height:25px;
    font-weight:500;
    margin:20px 0 10px 0;
    display:block
}
.login_ct h4 .fr a {
    font-size:12px;
    color:#999
}
.login_ct h4 a {
    color:#FF4200
}
.login_user,.login_password {
    height:40px;
    line-height:40px;
    display:block;
    padding:0px 40px 0 10px;
    position:relative;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    -webkit-appearance:none;
    background:none
}
.login_user i,.login_password i {
    display:block;
    width:40px;
    height:40px;
    position:absolute;
    right:0px;
    bottom:0px;
    background:url('icons.png') no-repeat -62px -43px;
    background-size:500px 500px;
    opacity:0.4;
    display:none;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.login_user i.ton,.login_password i.ton {
    opacity:1
}
.login_user {
    border-bottom:1px solid #f7f7f7
}
.login_password {
    border-top:0
}
.login_input input {
    border:none;
    display:block;
    height:100%;
    width:100%
}
.login_input {
}
.login_user input,.login_password input {
    -webkit-appearance:none
}
.login_submit {
    height:40px;
    display:block;
    line-height:40px;
    background:#70CA10;
    color:#fff;
    text-align:center;
    border:none;
    width:100%;
    -webkit-appearance:none;
    -o-border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0
}
.login_quick {
    margin-top:30px
}
.login_quick p {
    line-height:20px;
    margin:20px 0 10px 0;
    font-size:12px;
    color:#dfdfdf
}
.login_quick #weibo_app {
    margin:0;
    height:40px;
    float:left;
    width:110px;
    overflow:hidden
}
.login_quick #qq_connect {
    height:40px;
    float:right;
    width:110px;
    overflow:hidden
}
.login_quick #weibo_app span,.login_quick #qq_connect span {
    height:40px;
    font-size:13px;
    width:auto;
    padding-left:5px;
    line-height:40px;
    vertical-align:middle
}
.login_quick #weibo_app i,.login_quick #qq_connect i {
    background-size:250px 250px;
    height:40px;
    width:35px;
    vertical-align:middle
}
.login_quick #weibo_app i {
    background-position:10px -95px
}
.login_quick #qq_connect i {
    background-position:12px -136px
}
.list_loading {
    height:16px;
    padding:20px 0 30px;
    text-align:center
}
.list_loading i {
    height:16px;
    width:16px;
    display:inline-block;
    background:url('icons.png') no-repeat -288px -16px;
    background-size:500px 500px;
    margin-right:10px;
    vertical-align:middle;
    -webkit-animation:loading 1s infinite linear;
    -ms-animation:loading 1s infinite linear;
    -o-animation:loading 1s infinite linear;
    -moz-animation:loading 1s infinite linear;
    animation:loading 1s infinite linear
}
.list_loading span {
    height:16px;
    display:inline-block;
    line-height:16px;
    vertical-align:middle;
    color:#A0A0A0
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes loading {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
.login_b_t {
    color:#dfdfdf;
    font-size:12px;
    padding-top:15px
}
.login_b_t .fl a {
    color:#ff8a00;
    font-size:12px;
    margin-left:5px
}
.login_b_t .fr a {
    color:#999;
    font-size:11px
}
.login_b_i input {
    background:none
}
.login_b_i {
    margin-bottom:10px;
    background:#fff
}
#container {
    background:#f0f1f1
}
.author {
    width:48px;
    height:48px;
    overflow:hidden;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%
}
.author a {
    display:block
}
.author img {
    width:48px;
    display:block
}
.header_info {
    margin-left:63px;
    height:48px
}
.header_info h4 {
    height:26px;
    overflow:hidden;
    display:block;
    line-height:33px;
    font-weight:500;
    font-size:14px
}
.add_fans {
    width:90px;
    height:30px;
    background:#70cb0f url('add.png') no-repeat 15px 10px;
    background-size:11px 11px;
    color:#fff;
    line-height:30px;
    text-indent:34px;
    margin-top:9px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}
.remove_fans {
    width:90px;
    height:30px;
    background:#ff8400 url('remove.png') no-repeat 9px 10px;
    background-size:11px 11px;
    color:#fff;
    line-height:30px;
    text-indent:27px;
    margin-top:9px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}
.header_more dl,.header_more dt,.header_more dd {
    display:block;
    height:16px;
    line-height:16px;
    float:left
}
.header_more dt {
    width:16px;
    margin:0px 5px 0 -2px;
    background-position:4px -413px
}
.header_more dd {
    font-size:11px;
    color:#929292
}
.content_header {
    background:#f1f1f1
}
.info_title {
    height:30px;
    display:block;
    overflow:hidden;
    line-height:32px;
    font-size:14px;
    text-indent:7px
}
#works .list_info_i {
    margin:0 0 10px 7px
}
.works_view dt {
    background-position:-70px -148px
}
#works {
    background:#fff;
    margin-bottom:15px
}
.works {
    text-align:center
}
.works a {
    display:block;
    width:100%;
    text-align:center
}
.works img {
    max-width:100%;
    display:inline-block;
    background:#e8e8e8 url('img.png') no-repeat 50% 25%;
    background-size:77px 97px;
    border:none;
    max-height:auto
}
#us_panel {
    position:fixed;
    height:70px;
    width:100%;
    bottom:0;
    left:0;
    background:#fff;
    -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    -o-box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    -webkit-transition:-webkit-transform 0.3s ease;
    -moz-transition:-moz-transform 0.3s ease;
    -o-transition:-o-transform 0.3s ease;
    transition:transform 0.3s ease
}
#us_panel .pd10 {
    position:relative;
    background:#fff
}
.us_panel_left {
    margin-right:70px;
    position:relative;
    height:50px
}
#add_f {
    height:50px;
    background:#ff8a00;
    color:#fff;
    display:block;
    font-size:16px;
    line-height:50px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in
}
#add_f i {
    height:32px;
    width:32px;
    display:inline-block;
    background-position:-106px -15px;
    vertical-align:middle
}
#add_f .lf {
    display:inline-block;
    vertical-align:middle
}
#post_comment_btn {
    width:60px;
    height:50px;
    background-position:-92px -147px;
    background-color:#e7e7e7
}
#post_comment_btn.atc {
    background-position:-92px -191px;
    background-color:#70cb0f
}
.post_comment_content {
    height:50px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    visibility:hidden;
    opacity:0
}
.post_comment_content.show {
    visibility:visible;
    opacity:1
}
.post_comment_content .pd5 {
    border:1px solid #ccc
}
.post_comment_content textarea {
    border:none;
    width:100%;
    height:38px;
    overflow:hidden;
    display:block;
    position:relative
}
.works_info {
    line-height:18px;
    font-size:12px;
    color:#666
}
.works_info iframe {
    margin:0px auto;
    display:inline-block;
    max-width:100%;
    height:auto
}
.add_f {
    text-align:center
}
.works_link {
    position:relative;
    top:-5px
}
.works_link dl,.works_link dd,.works_link dt {
    display:block;
    height:16px;
    float:left;
    line-height:16px;
    font-size:11px
}
.works_link dt {
    width:16px;
    background-position:0px -449px;
    margin-right:10px
}
.works_link a {
    font-size:11px;
    color:#1f8902
}
#more_about {
    background:#fff;
    margin-bottom:15px;
    padding-bottom:10px
}
#more_about h4 {
    display:block;
    height:45px;
    line-height:55px;
    font-size:15px;
    font-weight:500;
    text-indent:10px;
    overflow:hidden
}
#more_about a {
    display:block
}
#more_about img {
    display:block;
    max-width:100%
}
#comment {
    background:#fff
}
#comment h4 {
    display:block;
    height:40px;
    line-height:40px;
    font-weight:500;
    text-indent:10px;
    font-size:11px
}
#comment h4 a {
    color:#696969;
    margin-left:5px;
    font-size:11px
}
.comment_me {
    width:50px;
    height:50px
}
.comment_me img {
    width:100%
}
.comment_e {
    margin-left:55px;
    height:50px
}
.comment_e .pd5 {
    border:1px solid #b0b0b0;
    height:38px
}
.comment_e textarea {
    display:block;
    width:100%;
    height:100%;
    border:none;
    overflow:hidden
}
.post_comment {
    width:55px;
    height:50px
}
.post_comment a {
    display:block;
    width:55px;
    height:50px;
    line-height:50px;
    background:#888;
    color:#fff;
    font-size:14px;
    border:none;
    text-align:center
}
.post_comment a.ton {
    background-color:#72ce0f
}
.comment_e_w {
    margin-right:60px
}
.comment_other h4 {
    display:block;
    height:40px;
    line-height:40px;
    font-weight:500;
    border-bottom:1px solid #e5e5e5
}
#comment ul li {
    display:block;
    padding:10px 0;
    border-bottom:1px solid #e5e5e5
}
#comment ul li .avt {
    display:block;
    width:30px;
    height:50px
}
#comment ul li .avt img {
    width:100%
}
.comment_content {
    margin-left:40px;
    font-size:12px;
    line-height:18px
}
.comment_content img,.msg_reply img {
    display:inline-block;
    vertical-align:top;
    width:14px;
    height:14px
}
.msg_reply img {
    margin-top:2px
}
.comment_content h5 {
    display:block;
    font-weight:500;
    height:25px;
    line-height:20px;
    overflow:hidden
}
.comment_content a {
    color:#1f8902;
    font-size:12 px
}
.comment_content span {
    color:#b4b4b4;
    margin-left:5px
}
.reply_this {
    color:#ff8a00;
    font-size:12px;
    height:20px
}
.comment_p {
    color:#9c9c9c
}
.quote {
    background:#f4f4f4;
    margin-top:10px
}
.comment_reply {
}
#add_f.liked {
    background:#c8c8c8
}
#add_f.liked i {
    -webkit-animation:animaLike .4s 2 ease-in;
    -ms-animation:animaLike .4s 2 ease-in;
    -o-animation:animaLike .4s 2 ease-in;
    animation:animaLike .4s 2 ease-in;
    -moz-animation:animaLike .4s 2 ease-in
}
@-moz-keyframes animaLike {
    0% {
        opacity:.3;
        -moz-transform:scale(.5)
    }
    50% {
        opacity:1;
        -moz-transform:scale(1)
    }
    100% {
        opacity:.3;
        -moz-transform:scale(.5)
    }
}
@-webkit-keyframes animaLike {
    0% {
        opacity:.3;
        -webkit-transform:scale(.5)
    }
    50% {
        opacity:1;
        -webkit-transform:scale(1)
    }
    100% {
        opacity:.3;
        -webkit-transform:scale(.5)
    }
}
@-o-keyframes animaLike {
    0% {
        opacity:.3;
        -o-transform:scale(.5)
    }
    50% {
        opacity:1;
        -o-transform:scale(1)
    }
    100% {
        opacity:.3;
        -o-transform:scale(.5)
    }
}
@-ms-keyframes animaLike {
    0% {
        opacity:.3;
        -ms-transform:scale(.5)
    }
    50% {
        opacity:1;
        -ms-transform:scale(1)
    }
    100% {
        opacity:.3;
        -ms-transform:scale(.5)
    }
}
@keyframes animaLike {
    0% {
        opacity:.3;
        transform:scale(.5)
    }
    50% {
        opacity:1;
        transform:scale(1)
    }
    100% {
        opacity:.3;
        transform:scale(.5)
    }
}
.comment_reply_this {
    margin-top:10px;
    overflow:hidden;
    height:0
}
.comment_reply_this.open {
    height:auto
}
.comment_reply_this .pd5 {
    background:#fff;
    border:1px solid #b0b0b0;
    height:40px
}
.comment_reply_this textarea {
    border:none;
    width:100%;
    height:100%;
    overflow:hidden
}
.comment_content .comment_reply_submit {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#9c9c9c;
    display:block;
    margin-top:10px;
    background:#e7e7e7;
    font-size:14px
}
.comment_content .comment_reply_submit.ton {
    background:#64c400;
    color:#fff
}
.more_comment {
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-size:15px;
    text-align:center;
    background:#c8c8c8;
    display:block
}
.more_comment.ton {
    background-color:#64c400
}
.website {
    margin:0 auto;
    overflow:hidden;
    position:relative
}
.website ul {
    position:relative
}
.website li {
    display:block;
    float:left
}
.website li img {
    width:100%
}
.website_info {
    margin-top:7.5px;
    line-height:18px;
    font-size:12px
}
.visit_site {
    height:40px
}
.visit_site a {
    display:block;
    height:40px;
    background:#6b6b6b;
    text-align:center;
    overflow:hidden
}
.visit_site a.ton {
    background:#64c400
}
.visit_site a i {
    display:inline-block;
    width:16px;
    height:16px;
    background-position:-74px -287px;
    vertical-align:middle;
    margin-top:12px
}
.visit_site a span {
    height:16px;
    display:inline-block;
    line-height:16px;
    margin-left:5px;
    color:#fff;
    font-size:12px;
    vertical-align:middle;
    margin-top:12px
}
.website_info .pd10 {
    color:#848484;
    font-size:11px
}
.website_info .pd10 span {
    color:#373737
}
.designer_t {
    height:60px;
    margin-bottom:10px
}
.designer_t table {
    height:60px
}
.designer_t a {
    display:block;
    height:55px;
    line-height:60px;
    text-align:center;
    color:#898989;
    overflow:hidden;
    border-bottom:5px solid #3d3e40;
    background:#3d3e40;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -ms-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.designer_t .designer_t_c {
    background-color:#323436
}
.designer_t .designer_t_c a,.designer_t a:hover {
    border-bottom:5px solid #70cb0f;
    color:#c0c0c0;
    background:#323436;
    position:relative
}
.has_line {
    position:relative
}
.has_line_left,.has_line_right {
    position:absolute;
    top:0;
    width:1px;
    height:100%;
    background:url('g_block.png');
    background-size:1px 1px
}
.has_line_left {
    left:0
}
.has_line_right {
    right:0
}
#designer_list {
    background:#f0f1f1
}
#designer_list li {
    display:block;
    background:#fff;
    margin-bottom:15px
}
.designer_avt {
    width:30px;
    height:30px;
    overflow:hidden
}
.designer_avt img {
    width:100%
}
.designer_info {
    margin-left:40px
}
.designer_info h4 {
    display:block;
    height:17px;
    line-height:17px
}
.designer_info h4 a {
    font-weight:500;
    font-size:12px;
    color:#696969
}
.designer_info p {
    font-size:10px;
    color:#929292
}
.designer_info p span {
    margin-right:10px
}
.relationship {
    width:30px;
    height:30px
}
.relationship a {
    display:block;
    height:30px
}
.add_friend {
    background-color:#70cb0f;
    background-position:-160px 0
}
.remove_friend {
    background-color:#ff8400;
    background-position:-190px 0
}
.rela_friend {
    background-color:#cccccc;
    background-position:-220px 0
}
.designer_more {
    padding:0px 5px 5px 5px
}
.designer_more a {
    display:block;
    float:left;
    background:#f6f6f6
}
.designer_more a img {
    width:100%
}
.article_info {
    height:26px;
    overflow:hidden;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    text-overflow:-o-ellipsis-lastline;
    -webkit-box-orient:vertical;
    color:#848484;
    font-size:12px;
    line-height:14px;
    margin-top:5px
}
.article_list .list_info_i {
    margin-top:10px
}
.bangmang_list .bangmang_album {
    display:block;
    width:100%;
    margin-bottom:5px
}
.bangmang_album img {
    width:100%
}
.bangmang {
    background:#f0f1f1;
    padding-bottom:20px
}
.bangmang .pd5 {
    background:#fff
}
.bangmang_list li {
    background:#fff;
    margin-bottom:15px;
    padding-bottom:10px
}
.bangmang_list li h4 {
    display:block;
    padding:0 10px;
    height:25px;
    line-height:32px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.bangmang_list li h4 a {
    font-size:14px;
    color:#535353
}
.bangmang_list_info,.bangmang_info {
    color:#848484;
    line-height:20px;
    font-size:11px
}
.bangmang_info img,.bangmang_info iframe {
    display:block;
    max-width:100%;
    height:auto
}
.bangmang_info p {
    text-align:left
}
.bangmang_list_more {
    padding:0 10px
}
.bangmang_title {
    line-height:20px;
    display:block;
    padding:10px;
    padding-bottom:0
}
#share {
    visibility:hidden
}
#share.show {
    visibility:visible
}
#share.show .share_msk {
    visibility:visible
}
#share.show .share {
    visibility:visible;
    bottom:0
}
.share_msk {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    visibility:hidden;
    z-index:998
}
.share {
    position:fixed;
    bottom:-200px;
    left:0;
    width:100%;
    background:#fff;
    visibility:hidden;
    z-index:999;
    -webkit-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1)
}
.share td {
    height:70px
}
.share td a {
    display:block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:74px 70px
}
.share td.sina a {
    background-image:url('social/sina.png');
    background-color:#d63b22
}
.share td.guangbo a {
    background-image:url('social/guangbo.png');
    background-color:#3eb0d8
}
.share td.facebook a {
    background-image:url('social/facebook.png');
    background-color:#3f67c0
}
.share td.twitter a {
    background-image:url('social/twitter.png');
    background-color:#35b5eb
}
.share .pd10 {
    padding-top:5px
}
.cancel_share a {
    display:block;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    background:#c8c8c8;
    font-size:15px
}
.cancel_share a.ton {
    background:#70CA10
}
.home_info {
    height:90px;
    padding:15px 0
}
.home_avatar {
    width:90px;
    height:90px
}
.home_avatar img {
    width:100%
}
.home_profile {
    margin-left:90px;
    position:relative
}
.home_profile_name {
    display:block;
    height:20px;
    overflow:hidden;
    font-weight:500;
    font-size:16px;
    color:#696969;
    padding-top:15px
}
.home_profile_name span {
    display:inline-block;
    height:16px;
    line-height:16px;
    vertical-align:middle;
    margin-left:10px;
    white-space:nowrap;
    overflow:hidden;
    max-width:80%
}
.home_profile_name i {
    display:none;
    vertical-align:middle;
    margin-left:5px
}
.home_profile_name i.medal {
    display:inline-block;
    height:16px;
    width:16px;
    background:url('medal.png') no-repeat 0 0;
    background-size:16px 16px
}
.home_profile_local {
    height:16px;
    float:left;
    margin-left:10px
}
.home_profile_local i {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    background-position:0 -413px
}
.home_profile_local span {
    display:inline-block;
    vertical-align:middle;
    height:16px;
    line-height:15px;
    color:#929292;
    font-size:12px
}
.home_profile_dec {
    float:left;
    height:16px;
    line-height:16px;
    color:#929292;
    font-size:12px;
    margin-left:10px
}
.home_add_f {
    background:#70cb0f
}
.home_remove_f {
    background:#ff8400
}
.home_rela_f {
    background:#ccc
}
.home_send {
    background:#505152
}
.home_profile_c {
    position:absolute;
    height:30px;
    bottom:0;
    left:0;
    width:100%
}
.home_profile_c a {
    display:block;
    width:90px;
    height:30px;
    text-align:center;
    float:left;
    margin-left:5px
}
.home_profile_c a i {
    display:inline-block;
    height:16px;
    width:16px;
    vertical-align:middle;
    margin-top:7px;
    margin-right:5px
}
.home_profile_c a span {
    height:16px;
    vertical-align:middle;
    line-height:16px;
    display:inline-block;
    margin-top:7px;
    color:#fff
}
.home_profile_c a.home_add_f i {
    background-position:-167px -7px
}
.home_profile_c a.home_remove_f i {
    background-position:-196px -7px
}
.home_profile_c a.home_rela_f i {
    background-position:-228px -7px
}
.home_profile_c a.home_send i {
    background-position:-228px -29px
}
.home_cate {
    background:#fff;
    height:60px;
    display:table;
    width:100%;
    border-top:1px solid #d0d1d1
}
.home_cate_row {
    display:table-row
}
.home_cate a {
    height:59px;
    overflow:hidden;
    display:table-cell;
    line-height:60px;
    text-align:center;
    border-bottom:1px solid #d0d1d1;
    color:#7c7c7c
}
.home_cate a:nth-child(1) {
    border-right:1px solid #dbdbdc
}
.home_cate_row a.home_cur {
    border-bottom:8px solid #70cb0f;
    height:52px
}
#myworks {
    background:#fff;
    padding-top:5px;
    padding-bottom:10px
}
#myworks .wrap {
    overflow:hidden
}
#myworks ul {
    padding-top:10px
}
#myworks ul li a {
    display:block
}
#myworks ul li {
    display:block;
    margin-bottom:10px;
    border-bottom:1px solid #eee;
    padding-bottom:10px
}
#myworks ul li h4 {
    height:30px;
    line-height:35px
}
#myworks .list_info {
    padding-top:0
}
#myworks .list_info_i {
    margin-top:15px
}
.message_title {
    width:100%;
    display:table
}
.message_row {
    display:table-row
}
.message_cell {
    display:table-cell;
    height:60px;
    text-align:center;
    background:#fff
}
.message_cell a {
    color:#888787;
    display:block;
    width:100%;
    height:60px;
    line-height:60px
}
.message_cell.active a {
    height:55px;
    border-bottom:5px solid #6bc30d
}
.message_cell.system {
    border-right:1px solid #e5e5e5
}
.message_cell.comment {
    border-right:1px solid #e5e5e5
}
.message_cell.reply {
    border-right:1px solid #e5e5e5
}
.message_system li.ton {
    background:#f9f9f9
}
.message ul {
    border-top:1px solid #e5e5e5
}
.message li {
    background:#fff
}
.message li h4,.message li h5 {
    font-weight:500;
    color:#7e7e7e
}
.message li a {
    color:#6bc30d
}
.message li h4 {
    font-size:13px;
    display:block;
    height:18px;
    line-height:18px;
    overflow:hidden;
    white-space:nowrap
}
.message li h5 {
    font-size:9px;
    color:#b6b6b6;
    display:block;
    height:16px;
    line-height:16px
}
.remove_msg {
    position:absolute;
    right:12px;
    top:50%;
    margin-top:-8px;
    width:16px;
    height:16px;
    background-position:1px -479px
}
.message_avatar {
    width:30px;
    height:30px;
    overflow:hidden;
    margin-right:10px
}
.message_avatar img {
    max-width:100%
}
.msg_wrap {
    border-bottom:1px solid #eee;
    padding:12px;
    position:relative
}
.message_comment li {
    margin-bottom:5px
}
.msg_reply,.msg_more {
    color:#999;
    line-height:20px
}
.message_private .msg_more a {
    color:#ff8400;
    margin-left:5px
}
.message_private li {
    margin-bottom:10px
}
.message_private li h4 i {
    background:url('point.png') no-repeat 50% 3px;
    background-size:8px 8px
}
.message .message_private_reply ul {
    border:none
}
.speak .pd10 {
    padding:10px 15px;
    line-height:18px
}
.speak .speak_ct {
    color:#888;
    display:inline-block
}
.speak .speak_date {
    color:#b6b6b6;
    display:inline-block;
    margin:0 5px;
    font-size:11px
}
.message_private_reply .from .fl {
    width:10px;
    background:url('from.png');
    background-size:10px 10px;
    height:10px
}
.message_private_reply .from .speak {
    margin-left:10px;
    margin-right:10px
}
.message_private_reply .from .speak {
    background:#fff
}
.message_private_reply .to .speak {
    background:#6BC30D;
    color:#fff
}
.message_private_reply .to .speak span {
    color:#fff
}
.message_private_reply li {
    background:#f0f1f1;
    margin-bottom:10px
}
.message_private_reply .to .fr {
    width:10px;
    background:url('to.png');
    background-size:10px 10px;
    height:10px
}
.message_private_reply .to .speak {
    margin-right:10px;
    margin-left:10px
}
#reply_msg {
    background:#fff;
    height:70px;
    position:fixed;
    width:100%;
    left:0;
    bottom:0
}
.reply_msg_content {
    border:1px solid #ccc;
    margin-right:70px
}
.reply_msg_content textarea {
    border:none;
    width:100%;
    height:40px;
    overflow:hidden
}
.reply_msg_post {
    width:60px;
    height:50px;
    background-position:-90px -367px;
    background-color:#c8c8c8
}
.reply_msg_post.checked {
    background-color:#70cb0f
}
.delete_check {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:998;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in
}
.delete_check_a {
    position:fixed;
    z-index:999;
    width:100%;
    background:#fff;
    left:0;
    bottom:-200px;
    visibility:hidden;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in
}
.delete_check_a a {
    display:block;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#fff
}
.delete_check_sure {
    margin-bottom:10px;
    background:#ff8a00
}
.delete_check_cancel {
    background:#c8c8c8
}
.delete_check_sure.ton,.delete_check_cancel.ton {
    opacity:0.6
}
#delete_check.show .delete_check {
    visibility:visible;
    opacity:1
}
#delete_check.show .delete_check_a {
    visibility:visible;
    bottom:0
}
.about_t {
    height:50px;
    line-height:60px;
    font-size:18px;
    font-weight:500;
    text-align:center;
    color:#7e7e7e;
    display:block;
    overflow:hidden
}
.about_c {
    line-height:20px;
    color:#7e7e7e;
    font-size:12px;
    border-bottom:1px solid #e5e5e5;
    padding-bottom:20px
}
.about_wrap {
    background:#fff;
    min-height:100%
}
.about_contact dl {
    color:#7e7e7e;
    margin-top:10px
}
.about_contact dl a {
    color:#7e7e7e;
    font-size:11px
}
.about_contact dt {
    display:block;
    height:40px;
    line-height:45px;
    color:#505050;
    overflow:hidden
}
.about_contact dd {
    display:inline-block;
    height:20px;
    line-height:20px;
    font-size:11px;
    margin-right:5px
}
.article_ct img {
    max-width:100%;
    display:block;
    margin:0 auto
}
.article_ct a {
    color:#6bc30d
}
.article_ct iframe {
    max-width:100%;
    display:block;
    margin:0 auto;
    height:auto
}
.article_ct p {
    font-size:12px;
    color:#666;
    line-height:20px;
    max-width:100%;
    display:block;
    margin:0 auto;
    position:relative
}
.article_ct strong {
    font-size:14px
}
#send_msg {
    bottom:0;
    height:70px;
    left:0;
    position:fixed;
    width:100%;
    background:#fff;
    -webkit-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -webkit-transform:translateY(80px);
    -moz-transform:translateY(80px);
    -o-transform:translateY(80px);
    transform:translateY(80px);
    visibility:hidden
}
.send_msg_to {
    background-color:#C8C8C8;
    background-position:-90px -367px;
    height:50px;
    width:60px
}
.send_msg_to.checked {
    background-color:#70cb0f
}
.send_msg_content {
    border:1px solid #CCCCCC;
    margin-right:70px
}
#send_msg_content {
    height:40px;
    overflow:hidden;
    width:100%;
    outline:none;
    border:none;
    color:#535353
}
#send_msg.show {
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -o-transform:translateY(0px);
    transform:translateY(0px);
    visibility:visible
}
#loading_mask {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#fff;
    z-index:999
}
.loading_mask {
    width:80px;
    height:120px;
    background:url('loading.png') no-repeat 50% 0;
    background-size:77px 97px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-120px 0 0 -40px
}
@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        -webkit-transform:scale(0.0);
        background:#e5e5e5
    }
    40% {
        -webkit-transform:scale(1.0);
        background:#6bc30d
    }
}
@-moz-keyframes bouncedelay {
    0%,80%,100% {
        transform:scale(0.0);
        -moz-transform:scale(0.0);
        background:#e5e5e5
    }
    40% {
        transform:scale(1.0);
        -moz-transform:scale(1.0);
        background:#6bc30d
    }
}
@keyframes bouncedelay {
    0%,80%,100% {
        transform:scale(0.0);
        -webkit-transform:scale(0.0);
        background:#e5e5e5
    }
    40% {
        transform:scale(1.0);
        -webkit-transform:scale(1.0);
        background:#6bc30d
    }
}
.loading #loading_mask {
    opacity:1;
    visibility:visible;
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1)
}
#loading_mask {
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
    visibility:hidden
}
.loading_dark {
    width:100%;
    height:100%;
    position:absolute;
    background:#000;
    top:0;
    left:0;
    z-index:999;
    visibility:hidden;
    opacity:0
}
.loading .loading_dark {
    opacity:1;
    visibility:visible;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear
}
.loading_mask ul {
    height:8px;
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:110px;
    overflow:hidden;
    margin-left:4px;
    text-align:center
}
.loading_mask ul li {
    display:block;
    float:left;
    width:8px;
    height:8px;
    background:#e5e5e5;
    margin-right:8px;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both
}
.loading_mask ul.anm li {
    background:#e5e5e5;
    width:8px;
    height:8px;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:bouncedelay 1.4s infinite ease-in-out;
    animation:bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.loading_mask ul.anm li:nth-child(1) {
    -webkit-animation-delay:-0.64s;
    -moz-animation-delay:-0.64s;
    animation-delay:-0.64s
}
.loading_mask ul.anm li:nth-child(2) {
    -webkit-animation-delay:-0.48s;
    -moz-animation-delay:-0.48s;
    animation-delay:-0.48s
}
.loading_mask ul.anm li:nth-child(3) {
    -webkit-animation-delay:-0.32s;
    -moz-animation-delay:-0.32s;
    animation-delay:-0.32s
}
.loading_mask ul.anm li:nth-child(4) {
    -webkit-animation-delay:-0.16s;
    -moz-animation-delay:-0.16s;
    animation-delay:-0.16s
}
.loading2 body {
    position:relative;
    overflow:hidden;
    height:100%;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.5s cubic-bezier(0.165,0.84,0.44,1)
}
.newwrap_msk {
    width:100%;
    height:100%;
    position:absolute;
    background:#000;
    top:0;
    left:0;
    z-index:999;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear
}
.newwrap.show .newwrap_msk {
    opacity:.6;
    visibility:visible;
    -webkit-transition-delay:0.25s;
    -moz-transition-delay:0.25s;
    -o-transition-delay:0.25s;
    transition-delay:0.25s
}
#newwrap {
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    display:block;
    width:100%;
    height:100%;
    background:#fff;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:-o-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    transition:transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
    visibility:hidden;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}
#newwrap_t.show #newwrap {
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.33,0.66,0.66,1);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.33,0.66,0.66,1);
    -o-transition:-o-transform 0.3s cubic-bezier(0.33,0.66,0.66,1);
    transition:transform 0.3s cubic-bezier(0.33,0.66,0.66,1);
    -webkit-transform:translateX(0%);
    -moz-transform:translateX(0%);
    -o-transform:translateX(0%);
    transform:translateX(0%);
    visibility:visible;
    -webkit-transition-delay:0.25s;
    -moz-transition-delay:0.25s;
    -o-transition-delay:0.25s;
    transition-delay:0.25s
}
#container.newframe {
    -webkit-transform:translateX(-15%);
    -moz-transform:translateX(-15%);
    -o-transform:translateX(-15%);
    transform:translateX(-15%);
    -webkit-transition-delay:1s;
    -moz-transition-delay:1s;
    -o-transition-delay:1s;
    transition-delay:1s
}
#header.newframe {
    -webkit-transform:translateX(-15%);
    -moz-transform:translateX(-15%);
    -o-transform:translateX(-15%);
    transform:translateX(-15%);
    -webkit-transition-delay:1s;
    -moz-transition-delay:1s;
    -o-transition-delay:1s;
    transition-delay:1s
}
#us_panel2 {
    width:100%;
    height:44px;
    position:fixed;
    bottom:0;
    left:0;
    background:#fff;
    border-top:1px solid #e3e3e3
}
#us_panel2.hide {
    visibility:hidden
}
#us_panel2 td {
    height:100%;
    text-align:center
}
#us_panel2 td i {
    display:inline-block;
    vertical-align:middle;
    position:relative
}
#us_panel2 td span {
    display:inline-block;
    vertical-align:middle;
    width:65px
}
#us_panel2 td span em {
    font-style:normal
}
.us_panel_menu {
    width:85px;
    position:relative
}
.arrow_top {
    width:13px;
    height:6.5px;
    background:url('arrow-top.png') no-repeat 0 0;
    background-size:13px 6.5px;
    position:absolute;
    left:50%;
    margin-left:-6.5px;
    top:0;
    -webkit-transition:-webkit-transform 0.2s cubic-bezier(0.33,0.66,0.66,1);
    -moz-transition:-moz-transform 0.2s cubic-bezier(0.33,0.66,0.66,1);
    -o-transition:-o-transform 0.2s cubic-bezier(0.33,0.66,0.66,1);
    transition:transform 0.2s cubic-bezier(0.33,0.66,0.66,1)
}
.arrow_top.open {
    -webkit-transform:translateY(-6px);
    -moz-transform:translateY(-6px);
    -o-transform:translateY(-6px);
    transform:translateY(-6px)
}
#us_panel2 .us_panel_menu i {
    width:22px;
    height:16.5px;
    background-position:-112px -256px
}
#us_panel2 .us_panel_like i {
    width:16px;
    height:16px;
    background-position:-112px -304px
}
#us_panel2 .us_panel_like.liked i {
    width:16px;
    height:16px;
    background-position:-144px -304px
}
#us_panel2 .us_panel_post i {
    width:16px;
    height:16px;
    background-position:-112px -208px
}
.us_panel_menu_left {
    background:#e3e3e3;
    width:1px;
    position:absolute;
    top:0;
    left:0;
    height:100%
}
.us_panel_menu_right {
    background:#e3e3e3;
    width:1px;
    position:absolute;
    top:0;
    right:0;
    height:100%
}
.us_panel_msk {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear
}
#us_panel_menu.show .us_panel_msk {
    opacity:1;
    visibility:visible
}
#us_panel_menu.show .us_panel_menu_t {
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -o-transform:translateY(0px);
    transform:translateY(0px);
    visibility:visible;
    -webkit-transition:all 0.2s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.2s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.2s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.2s cubic-bezier(0.165,0.84,0.44,1)
}
.us_panel_menu_t {
    height:138px;
    display:block;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0;
    background:rgba(0,0,0,0.8);
    -webkit-transform:translateY(160px);
    -moz-transform:translateY(160px);
    -o-transform:translateY(160px);
    transform:translateY(160px);
    visibility:hidden;
    -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1)
}
.us_panel_menu_t table {
    height:100%
}
.us_panel_menu_t span {
    width:60px;
    display:block;
    margin:0 auto;
    text-align:center
}
.us_panel_menu_t i {
    width:16px;
    height:16px;
    background:url('navigation.png') no-repeat 0 0;
    background-size:32px 250px;
    display:block;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:10px
}
.us_panel_menu_t .us_panel_menu_index i {
    background-position:-8px -17px
}
.us_panel_menu_t .us_panel_menu_designer i {
    background-position:-8px -67px
}
.us_panel_menu_t .us_panel_menu_help i {
    background-position:-8px -217px
}
.us_panel_menu_t .us_panel_menu_about i {
    background-position:-8px -117px
}
.us_panel_menu_t a {
    display:block;
    width:100%;
    height:100%;
    overflow:hidden
}
#add_newpost {
    position:fixed;
    width:100%;
    height:100%;
    background:#cfcfcf;
    top:0;
    left:0;
    z-index:999;
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    transform:translateY(100%);
    -webkit-transition:all 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -moz-transition:all 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -o-transition:all 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition:all 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    visibility:hidden
}
#add_newpost.show {
    -webkit-transform:translateY(0%);
    -moz-transform:translateY(0%);
    -o-transform:translateY(0%);
    transform:translateY(0%);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -o-transition:-o-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    transition:transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    visibility:visible
}
.add_newpost {
    height:50px;
    background:#323436
}
#add_newpost td {
    text-align:center;
    background:#686868;
    color:#fff;
    height:40px
}
.add_newpost_cancel {
    background:#686868
}
#add_newpost .add_newpost_post {
    background:#6bc30d
}
.newpost_w_t {
    height:240px;
    color:#999999;
    padding:15px;
    background:#fff
}
.newpost_w_t textarea {
    border:none;
    display:block;
    width:100%;
    height:100%
}
#myfavorites li {
    display:block;
    float:left;
    margin-top:10px;
    border-bottom:2.5px solid #e3e3e3
}
#myfavorites li:nth-child(odd) {
    margin-right:10px
}
#myfavorites li a {
    display:block
}
#myfavorites li dt {
    display:block;
    background:#fff;
    font-size:11px
}
#myfavorites li dt .pd5 {
    height:24px;
    line-height:24px
}
#myfavorites li dd {
    display:block;
    padding:0 5px 5px 5px;
    background:#fff
}
#myfavorites li dd span {
    display:block;
    float:left
}
#myfavorites li dd span:nth-child(2) {
    margin:0 5px
}
#myfavorites li img {
    width:100%
}
.edit_this {
    height:23px;
    display:block;
    border:1px solid #e3e3e3;
    background:#f3f3f3;
    color:#787878;
    line-height:23px;
    font-size:10px;
    text-align:center
}
#choose_album {
    width:100%;
    position:fixed;
    top:50px;
    left:0;
    opacity:0;
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -o-transform:translateY(-100%);
    transform:translateY(-100%);
    visibility:hidden;
    -webkit-transition:all 0.2s cubic-bezier(0.55,0.055,0.675,0.19);
    -moz-transition:all 0.2s cubic-bezier(0.55,0.055,0.675,0.19);
    -o-transition:all 0.2s cubic-bezier(0.55,0.055,0.675,0.19);
    transition:all 0.2s cubic-bezier(0.55,0.055,0.675,0.19)
}
#choose_album.show {
    opacity:1;
    -webkit-transform:translateY(0%);
    -moz-transform:translateY(0%);
    -o-transform:translateY(0%);
    transform:translateY(0%);
    visibility:visible;
    -webkit-transition:all 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -moz-transition:all 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -o-transition:all 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    transition:all 0.3s cubic-bezier(0.165,0.840,0.440,1.000)
}
#choose_album li {
    height:40px;
    line-height:40px;
    background:#fff;
    border-bottom:1px solid #eee
}
#choose_album li a {
    display:block;
    width:100%;
    height:100%;
    text-indent:20px;
    color:#adadad
}
#choose_album li a.ton {
    background-color:#70CA10;
    color:#fff
}
#edit_album {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    opacity:0;
    visibility:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear
}
#edit_album.show {
    visibility:visible;
    opacity:1
}
#edit_album .edit_album_d_wrap {
    width:100%;
    position:relative;
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    perspective:1000px;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden
}
#edit_album.show .edit_album_msk {
    opacity:1
}
.edit_album_msk {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5)
}
.edit_album {
    width:85%;
    margin:120px auto 0 auto;
    position:relative;
    background:#fff;
    -webkit-transform:translate3d(0,-10%,0) rotateX(-90deg);
    -moz-transform:translate3d(0,-10%,0) rotateX(-90deg);
    transform:translate3d(0,-10%,0) rotateX(-90deg);
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform-origin:50% -100%;
    -moz-transform-origin:50% -100%;
    transform-origin:50% -100%
}
#edit_album.show .edit_album {
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    opacity:1
}
.edit_album h4 {
    display:block;
    height:50px;
    background:#f0f0f0;
    color:#747474;
    line-height:50px;
    text-align:center;
    font-weight:500
}
.edit_album_input {
    display:block;
    border:1px solid #b7b7b7;
    height:24px;
    background:#fff;
    width:100%;
    text-indent:10px
}
.edit_album_d span {
    display:block;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff
}
.edit_album .pd20 {
    padding-bottom:0
}
.edit_album_d .edit_album_delete {
    background:#686868
}
.edit_album_d .edit_album_sure {
    background:#6bc30d
}
#add_favorite {
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    background:#f0f1f1;
    -webkit-transform:translate3d(0px,100%,0px);
    -moz-transform:translate3d(0px,100%,0px);
    transform:translate3d(0px,100%,0px);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    -o-transition:-o-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition:transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19)
}
#add_favorite.show {
    -webkit-transform:translate3d(0px,0%,0px);
    -moz-transform:translate3d(0px,0%,0px);
    transform:translate3d(0px,0%,0px);
    -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -moz-transition:-moz-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    -o-transition:-o-transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000);
    transition:transform 0.3s cubic-bezier(0.165,0.840,0.440,1.000)
}
.created_cate {
    height:40px;
    margin:10px 0
}
.created_cate_add {
    width:100px;
    height:40px;
    font-size:13px;
    text-align:center;
    line-height:40px;
    background:#6bc30d;
    color:#fff;
    float:right
}
.created_cate_ipt {
    height:18px;
    margin-right:105px;
    border:1px solid #b7b7b7;
    padding:10px 10px;
    background:#fff
}
.created_cate_ipt input {
    display:block;
    width:100%;
    height:100%;
    border:0;
    background:none
}
